.nav1{
    background-color: rgb(300, 232, 70) !important;
    position: sticky;
    top: 0;
    z-index: 1;
}

.footer1{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(66, 59, 59);
    margin-top: 40px;
    padding-top: 30px;
    }
    .footer1 ul a{
        color:blanchedalmond
    }

    .footer li{
        list-style: none !important;
    }
    .part{
        width: 400px;
        padding-left: 70px;
        
    }

    .gallery{
        text-align: center;
        font-family: Lobster Two;
        padding-top: 30px;
        ;
    }

    <div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>